
<div id="nav-bar">
{{#link-to 'users'}}Users list |{{/link-to}}
{{#link-to 'index'}}Home |{{/link-to}}
{{#if session.currentUser}}
   <span class="pull-right"> Your are logged in as {{session.currentUser.name}} || <a href="#" {{action 'logout'}}>logout</a></span>
{{else}}
<span class="pull-right">{{#link-to 'login'}}Login {{/link-to}}</span>
{{/if}}
</div>
<hr />
{{yield}}
