<h3>model.name</h3>
<ul>
{{#each model.tasks as |task|}}
<li>
{{task.action}}
{{#if task.done}}
<input type="checkbox" value="true" checked />
{{else}}
<input type="checkbox" value="true" />
{{/if}}

</li>
{{/each}}
</ul>
{{outlet}}
