<h3>model.name</h3>
<ul>
{{#each model.tasks as |task|}}
<li class="{{if task.done 'task-done' ''}} ">
    {{task.action}}
    {{one-way-checkbox task.done update=(action 'toggleTaskStatus' task)}}
</li>
{{/each}}
</ul>
{{outlet}}
